@page "/Login"
@inject NavigationManager NavigationManager

<h1>Login:</h1>
<p>Username:</p>
<input type="text" @bind="UsernameInput" />
<p>Password:</p>
<input type="text" @bind="PasswordInput" />

<div>
    <button @onclick="LoginAccount">Login</button>
</div>

@code {
    class LoginJson
    {
        public LoginJson(string username, string password)
        {
            Username = username;
            Password = password;

        }
        public string Type = "Login";
        public string Username = "";
        public string Password = "";

    }
    private string UsernameInput = "";
    private string PasswordInput = "";
    private void LoginAccount()
    {
        LoginJson login = new LoginJson(UsernameInput, PasswordInput);
        string json = Newtonsoft.Json.JsonConvert.SerializeObject(login);
        Sockets.Instance.SendMessageAsync(json, CancellationToken.None);
        string message = Sockets.Instance.ReceiveMessageAsync(CancellationToken.None).Result;
        if (message == "LoginSuccess")
		{
			NavigationManager.NavigateTo("/Manager");
		}
    }

}